body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

.site {
	background-image: url("Images/wallpaperflare.com_wallpaper (8).jpg");
	position: fixed;
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

.page {
	width: 70vw;
	margin: auto;
}

nav {
	position: fixed;
	display: flex;
	width: 100vw;
	height: 50px;
	text-align: center;
	background-color: #283991;
	border-bottom: solid 1px black;
	color: #EDB9FA;
	z-index: 1;
}

nav .page {
	display: flex;
	justify-content: space-around;
}

header {
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-image: url("Images/Background_Header.png");
}

main {
	height: auto;
	width: 100%;
	background-color: blue;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.card {
	border-radius: 50px;
	width: 200px;
}

footer {
	width: 100vw;
	height: 400px;
	background-image: url("Images/Footer_Background.jpg");
	background-size: cover;
	background-position: left;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.footer_info {
	background-color: #41132F;
	color: white;
	padding: 50px;
	border-radius: 50px;
	border: solid 2px black;
	height: 300px;
	width: 300px;
	margin-right: 50px;
}